# yamllint disable rule:line-length
# yamllint disable rule:braces
name: CI

on:
  pull_request:
  push:
    branches:
      - main
      - master

jobs:
  tests:
    name: Testing with Ruby ${{ matrix.ruby-version }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby-version:
          - '2.6'
          - '2.7'
          - '3.0'

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true

      - name: Run tests
        run: |
          bundle exec rspec spec
